<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Showings</title>
  <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/originals/03/ed/de/03edde789384ab169b248e0b37c96d47.jpg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container">
  <div class="row text-center p-3 bg-dark">
    <p class="display-3 text-light">Showings By ID</p>
  </div>
  <br>
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center border-end">
      <h4>Get Back Home</h4>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="/" class="btn btn-outline-primary">Go</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center border-end">
      <h4>Get Back to Showings Section</h4>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="/showing" class="btn btn-outline-primary">Go</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <table class="table table-striped table-borderless">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Date</th>
          <th scope="col">Movie</th>
          <th scope="col">Theater ID</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row" th:text="${showing.id}" />
          <td th:text="${showing.showingDate}" />
          <td th:text="${showing.movie.title}" />
          <td th:text="${showing.theater.id}" />
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
</div>
</body>
</html>