<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <title>Display Name</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Directors</th>
        <th>Awards Won</th>
        <th>Languages</th>
        <th>Plot</th>
        <th>Writers</th>
        <th>Genres</th>
        <th>Rotten Tomatoes Rating</th>
        <th>Year of Release</th>
        <th>Runtime</th>
    </tr>
    </thead>
    <tr th:each="movie : ${allMovies}">
        <td th:text="${movie.title}">This movie's title</td>
        <td th:text="${movie.directors}">The movie's directors</td>
        <td th:text="${movie.awards.getWins()}">The movie's awards</td>
        <td th:text="${movie.languages}">The movie's languages</td>
        <td th:text="${movie.plot}">The movie's plot</td>
        <td th:text="${movie.writers}">The movie's writers</td>
        <td th:text="${movie.genres}">The movie's genres</td>
        <td th:if="${movie.tomatoes.getViewer().getRating() != null}" th:text="${movie.tomatoes.getViewer().getRating()}">The movie's rotten tomatoes score</td>
        <td th:if="${movie.tomatoes.getViewer().getRating() == null}">N/A</td>
        <td th:text="${movie.year}">The movie's year of release</td>
        <td th:text="${movie.runtime}">The movie's run time</td>
    </tr>
</table>
</body>
</html>