<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
  <meta charset="UTF-8">
  <title>The Fighting Sheep File Centre - Display Movies</title>
  <link th:rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="displaymovie">Movies</a>
  <a href="#schedule">Schedule</a>
  <a href="#theater">Theater</a>
  <a href="#myAccount">My Account</a>
  <a href="logout">Log Out</a>

</div>

<!--<a href="/movies/all"><button>Show All Movies</button></a>-->
<a href="/movie/form"><button>Add A New Movie</button></a>

<div>
  <h1>Search for a movie by ID</h1>
  <form action="#" th:action="@{/web/movie/byid}" th:object="${foundMovie}" method="get">
    <label for="id" hidden>Movie ID: </label>
    <input type="text" id="id" name="id" placeholder="Movie ID" th:value="${id}"/>
    <input type="submit" value="Submit"/>
  </form>
</div>

<div>
  <h1>Search for a movie by Name</h1>
  <form action="#" th:action="@{/web/movie/byname}" th:object="${foundMovie}" method="get">
    <label for="name" hidden>Movie Name: </label>
    <input type="text" id="name" name="name" placeholder="Movie Name" th:value="${name}"/>
    <input type="submit" value="Submit"/>
  </form>
</div>

<div th:if="${movieDeleted}"><p>Movie Deleted!</p></div>

<div th:if="${foundMovie.getId() != null}">
  <img th:src="${foundMovie.poster}" alt="Movie poster">
<div th:text="${'Title: ' + foundMovie.title}">This movie's title</div>
<div th:text="${'Directors: '+ foundMovie.directors}">The movie's directors</div>
<div th:text="${'Awards Won: '+ foundMovie.awards.getWins()}">The movie's awards</div>
<div th:text="${'Languages: ' + foundMovie.languages}">The movie's languages</div>
<div th:text="${'Plot: ' + foundMovie.plot}">The movie's plot</div>
<div th:text="${'Writers: ' + foundMovie.writers}">The movie's writers</div>
<div th:text="${'Genres: ' + foundMovie.genres}">The movie's genres</div>
<div th:if="${foundMovie.tomatoes.getViewer().getRating() != null}" th:text="${'Tomatoes Rating:' + foundMovie.tomatoes.getViewer().getRating()}">The movie's rotten tomatoes score</div>
<div th:text="${'Year of release: ' + foundMovie.year}">The movie's year of release</div>
<div th:text="${'Runtime: '+foundMovie.runtime}">The movie's run time</div>

</div>

<!--<form action="#" th:if="${foundMovie.getId() != null}" th:action="@{'/displaymovie/delete/{id}'(id=${foundMovie.id})}" th:method="delete" >-->
<!--  <button type="submit">Delete</button>-->
<!--</form>-->
</body>
</html>