<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
  <meta charset="UTF-8">
  <title>Display Name</title>
</head>
<body>
<div th:text="${movie.id}">This 's id</div>
<div th:text="${movie.title}">This movie's title</div>
<div th:text="${movie.directors}">The movie's directors</div>
<div th:text="${movie.awards}">The movie's awards</div>
<div th:text="${movie.fullplot}">The movie's plot</div>
<div th:text="${movie.languages}">The movie's languages</div>
<div th:text="${movie.numMflixComments}">The movie's number of comments</div>
<div th:text="${movie.plot}">The movie's plot</div>
<div th:text="${movie.title}">The movie's title</div>
<div th:text="${movie.writers}">The movie's writers</div>
<div th:text="${movie.writers}">The movie's writers</div>
<div th:text="${movie.genres}">The movie's genres</div>
<div th:text="${movie.lastupdated}">The movie's latest update</div>
<div th:text="${movie.poster}">The movie's poster</div>
<div th:text="${movie.tomatoes}">The movie's rotten tomatoes score</div>
<div th:text="${movie.year}">The movie's year of release</div>
<div th:text="${movie.imdb}">The movie's imdb</div>
<div th:text="${movie.rated}">The movie's rating</div>
<div th:text="${movie.released}">When the movie was released</div>
<div th:text="${movie.cast}">The movie's cast</div>
<div th:text="${movie.runtime}">The movie's run time</div>
<div th:text="${movie.countries}">The movie's country</div>
<div th:text="${movie.type}">The movie's type</div>
</body>
</html>