<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Fighting Sheep Movie Database - Signup</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="signup_form">
    <h1>Sign Up</h1>
    <p th:if="${userRegistered}">Sign up failed. Please try again.</p>
    <form action="#" th:action="@{/web/user/signup}" th:object="${newUser}" method="post">
        <label for="email">Email</label>:
        <input type="text" id="email" name="email" th:field="*{email}"/>
        <label for="name">Name</label>:
        <input type="text" id="name" name="name" th:field="*{name}"/>
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" th:field="*{password}"/>
        <input type="hidden" th:value="${'USER'}" th:attr="name='role'"/>
        <input type="submit" value="Sign Up" />
    </form>
</div>


</body>
</html>