<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link th:rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="displaymovie">Movies</a>
    <a href="#schedule">Schedule</a>
    <a href="#theater">Theater</a>
    <a href="#myAccount">My Account</a>
    <a href="logout">Log Out</a>

</div>
<h1> User Page</h1>
<p>User :</p>
<div th:text="${User.id}"></div>
<p> Your name :</p>
<div th:text="${User.name}"> </div>
<p> Your Email :</p>
<div th:text="${User.email}"></div>

</body>
</html>